@charset "utf-8";
@import "reset.css";
:root {
    --white-color: #fefefe;
    --black-color: #444;
    --darker-black-color: #333;
    --gray-color: lightgray;
    --light-gray-color: #eee;
}

html, body {
    font-size: 62.5%;
}
body {
    min-height: 100vh;
    background: linear-gradient(var(--white-color), #addbed, skyblue);
    font-family: "Noto Sans KR", 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: url("./cursor/paint-brush.png"), auto;
    padding: 1.2rem 0;
    
    /* 스크롤 숨기기 */
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body::-webkit-scrollbar {
    scrollbar-width: none; 
    overflow-y: scroll;
    display: none;
}
/* 스크롤 막기 */
.touch-action {
    touch-action: none;
}

/* Tools */
#tools {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 3.8rem 1.2rem 0;
}
#tools>img {
    width: 10rem;
    margin-right: 3rem;
    padding-top: 0.8rem;
}
input#file {
    display: none;
}
/* Icons */
i {
    font-size: 4rem;
}
i>span {
    font-size: 1.6rem;
}

/* Button, Labels */
.btns {
    text-align: center;
    margin-right: 22rem;
    display: flex;
    gap: 1.6rem;
}
.btns>button, .btns>label {
    box-shadow: 0 0.3rem 0.3rem var(--gray-color);
    border-radius: 0;
    padding: 1rem 1.6rem;
}
button,
label {
    /* CSS 속성 모두 제거 */
    all: unset; 
    
    text-align: center;
    color: var(--darker-black-color);
    font-weight: 500;
    cursor: pointer;
    border-radius: 1rem;
    transition: opacity linear .1s;
}
button:hover, .btns>label:hover {
    opacity: 0.85;
}

#wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Canvas */
canvas {
    width: 80rem;
    height: 80rem;
    background-color: var(--white-color);
    border-radius: 1rem;
    margin: 0 4rem;
    border: 0.1rem solid #e9e9e9;
    box-shadow: 0 1.7rem 2rem -1.8rem rgba(0, 0, 0, 1);    
}

/* Color Options */
.color-options {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    align-items: center;
    margin-top: 1.2rem;
}
.color-option {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 4.8rem;
    cursor: pointer;
    border: 0.5rem solid var(--white-color);
    box-shadow: 0 0.3rem 0.3rem var(--gray-color);
    transition: transform ease-in-out .3s;
}
.color-option:hover {
    transform: scale(1.2);
}
input#color {
    background-color: var(--white-color);
    border: 0.1rem solid var(--light-gray-color);
    box-shadow: 0 0.3rem 0.3rem var(--gray-color);
    border-radius: 0.2rem;
    cursor: pointer;
}

/* 우측 */
/* Range */
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    background: var(--white-color);
    outline: 0;
    margin: 0.8rem 0;
}
input[type=range]::-webkit-slider-thumb { 
    -webkit-appearance: none;
    background: var(--white-color);
    cursor: pointer;
    width: 1.2rem;   
    height: 1.2rem;  
    margin-top: -0.2rem;
    box-shadow: 0.1rem 0.1rem 0.1rem var(--black-color);
    border-radius: 0.2rem;
    border: 0.02rem solid dodgerblue;
}
input[type=range]:focus { 
    outline: none; 
    background-color: steelblue;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
fieldset>label{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    cursor: default;
    padding: 1.2rem;
    border: 0.1rem solid var(--white-color);
    color: var(--black-color);
}
fieldset>label>p {
    font-size: 1.4rem;
    padding: 0.2rem 0;
    text-align: left;
}
#width-title, #trans-title {
    font-size: 1.6rem;
}

/* 텍스트 */
.txt-container {
    background: var(--white-color);
    margin-top: 2rem;
    padding: 1.6rem 0.8rem;
    border: 0;
}
input#text {
    all: unset;
    padding: 1rem 0;
    text-align: center;
    border-radius: 1rem;
    font-weight: 500;
    background-color: var(--light-gray-color);
    cursor: text;
}
.txt-container i {
    font-size: 1.4rem;
}
.control {
    display: flex;
    justify-content: space-around;
    margin-top: 0.4rem;
}
input#font-size {
    width: 6rem;
}

/* Cursor */
body.cursor-eraser {
    cursor: url("./cursor/eraser.png"), auto;
}
body.cursor-brush {
    cursor: url("./cursor/paint-brush.png"), auto;
}
body.cursor-plus {
    cursor: url("./cursor/plus-brush.png"), auto;
}
body.cursor-stamp {
    cursor: url("./cursor/stamp.png"), auto;
}
body.cursor-bucket {
    cursor: url("./cursor/paint-bucket.png"), auto;
}
/* Modal */
.hidden {
    display: none;
}

.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 0;
    scroll-behavior: unset;
    overflow: hidden;
    touch-action: none;
}
.modal-inner {
    width: 32rem;
    height: 14rem;
    background: var(--white-color);
    position: absolute;
    top: 12rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
    font-size: 1.8rem;
    padding-top: 4.4rem;
    text-align: center;
    color: var(--black-color);
}
.modal-inner button {
    width: 90%;
    height: 2.4rem;
    margin-top: 5.2rem;
    padding: 0.8rem 0;
    color: var(--white-color);
    background: skyblue;
    border-radius: 0;
}
.cancel-modal button {
    display: inline-block;
    width: 44%;
}
.cancel-modal button:nth-child(2) {
    margin-right: 4%;
}




@media screen and (max-width: 90rem){
    /* Tools */
    #tools {
        margin: 0 4.8rem 1.2rem 0;
    }
    #tools>img {
        width: 8rem;
        margin-right: 3.8rem;
    }
    /* Icons */
    i {
        font-size: 2rem;
    }
    i>span {
        font-size: 1.2rem;
    }
    /* Button, Labels */
    .btns {
        gap: 1.2rem;
    }
    .btns>button, .btns>label {
        padding: 1rem 1.2rem;
    }

    /* Canvas */
    canvas {
        width: 60rem;
        height: 60rem;
    }

    /* Color Options */
    .color-options {
        gap: 1.6rem;
        margin-top: 0;
    }
    .color-option {
        width: 2.8rem;
        height: 2.8rem;
        border-radius: 2.8rem;
        border: 0.4rem solid var(--white-color);
    }
    input#color {
        height: 1.8rem;
        padding: 0 0.2rem;
        border: none;
    }

    /* 우측 */
    /* Range */
    input[type=range]::-webkit-slider-thumb { 
        width: 1rem;   
        height: 1rem;  
    }

    fieldset {
        gap: 1.6rem;
    }
    fieldset>label>p {
        font-size: 1.2rem;
    }
    #width-title, #trans-title {
        font-size: 1.4rem;
    }

    /* 텍스트 */
    .txt-container {
        padding: 1.2rem 0.8rem;
    }
    input#text {
        padding: 0.8rem 0;
    }
    .txt-container i {
        font-size: 1.2rem;
    }
    input#font-size {
        width: 6.8rem;
        font-size: 1.2rem;
        padding: 0.06rem 0;
        padding-left: 0.4rem;
    }
    #font-weight {
        font-size: 1.2rem;
    }

}




@media screen and (max-width: 61.875rem){
    body {
        padding: 2.6rem 0;
    }
    /* Tools */
    #tools {
        margin: 0 2rem 1.2rem 0;
    }
    #tools>img {
        margin-right: 2.8rem;
    }
    /* Canvas */
    canvas {
        width: 60rem;
        height: 60rem;
        margin: 0 2rem; 
    }
    /* Color Options */
    .color-options {
        margin-top: 0;
    }
}




@media screen and (max-width: 56.25rem) {
    body {
        padding: 3.6rem 0;
    }
    /* Tools */
    #tools {
        margin: 0 0 1.2rem 2.2rem;
    }
    #tools>img {
        width: 5.2rem;
        margin-right: 2rem;
    }

    /* Icons */
    i>span {
        display: none;
    }
    /* Button, Labels */
    .btns>button, .btns>label {
        padding: 0.8rem;
        position: relative;
    }
    /* Hover */
    .btns>button:hover:after, .btns>label:hover:after {
        display: block;
        content: "브러쉬";
        width: 4rem;
        height: 4rem;
        line-height: 3.8rem;
        background: var(--light-gray-color);
        font-size: 1rem;
        box-shadow: -0.3rem -0.2rem 0.5rem var(--gray-color);
        opacity: 0.9;
        position: absolute;
        top: 0.1rem;
        left: 0;
        z-index: 2;
    }
    .btns>button:nth-child(2):hover:after {
        content: "페인트";
    }
    .btns>button:nth-child(3):hover:after {
        content: "지우개";
    }
    .btns>button:nth-child(4):hover:after {
        content: "초기화";
    }
    .btns>label:nth-child(5):hover:after {
        content: "배경";
    }
    .btns>button:nth-child(6):hover:after {
        content: "원형";
    }
    .btns>button:nth-child(7):hover:after {
        content: "네모";
    }
    .btns>button:nth-child(8):hover:after {
        content: "저장";
    }

    /* Canvas */
    canvas {
        width: 40rem;
        height: 40rem;
        margin: 0 2rem; 
    }

    /* Color Options */
    .color-options {
        gap: 1.2rem;
    }
    .color-option {
        width: 1.8rem;
        height: 1.8rem;
        border-radius: 1.8rem;
        border: 0.2rem solid var(--white-color);
    }
    input#color {
        width: 2.6rem;
        height: 1.4rem;
        padding: 0 0.1rem;
        box-shadow: 0 0.2rem 0.2rem var(--gray-color);
    }

    /* 우측 */
    /* Range */
    input[type=range] {
        width: 100%;
    }
    input[type=range]::-webkit-slider-thumb { 
        width: 1rem;   
        height: 1rem;  
        margin-top: -0.2rem;
    }

    fieldset {
        gap: 1.2rem;
    }
    fieldset>label{
        width: 14rem;
    }
    fieldset>label:first-child, fieldset>label:nth-child(2) {
        width: 13rem;
    }
    
    /* 텍스트 */
    .txt-container {
        margin-top: 1rem;
        padding: 1.2rem 0.8rem;
    }
    input#text {
        padding: 0.6rem 0;
        border-radius: 0.2rem;
    }
    input#font-size {
        width: 100%;
        padding-left: 0.4rem;
        margin-right: 0.6rem;
    }
    
}

@media screen and (max-width: 40.875rem) {
    body {
        padding: 4rem 0;
    }
    #wrap {
        flex-direction: column;
    }
    /* Tools */
    #tools {
        margin: 0 0.4rem 1.4rem 0;
    }
    #tools>img {
        width: 2.8rem;
        padding-top: 0.5rem;
        margin-right: 1rem;
    }
    
    /* Icons */
    i {
        font-size: 1.6rem;
    }
    i>span {
        display: none;
    }
    /* Button, Labels */
    .btns {
        margin-right: 0;
    }
    .btns>button, .btns>label {
        padding: 0.4rem;
    }
    /* Hover */
    .btns>button:hover:after, .btns>label:hover:after {
        content: "붓";
        width: 2.8rem;
        height: 2.8rem;
        line-height: 2.6rem;
        font-size: 0.8rem;
        box-shadow: -0.3rem -0.2rem 0.3rem var(--gray-color);
        top: 0;
    }
    .btns>button:nth-child(2):hover:after {
        content: "채움";
    }
    .btns>button:nth-child(3):hover:after {
        content: "지움";
    }
    .btns>button:nth-child(4):hover:after {
        content: "리셋";
    }

    /* Canvas */
    canvas {
        width: 31rem;
        height: 31rem;
    }
    
    /* Color Options */
    .color-options {
        flex-direction: row;
        margin-bottom: 1.8rem;
    }
    .color-option {
        width: 1.4rem;
        height: 1.4rem;
        border-radius: 1.4rem;
        border: 0.1rem solid var(--white-color);
    }
    input#color {
        width: 2rem;
        height: 1.3rem;
        padding: 0;
        background: rgba(255, 255, 255, 0.2);
        box-shadow: 0 0.1rem 0.1rem var(--gray-color);
    }
    
    /* Range */
    input[type=range] {
        margin: 0.4rem 0;
    }

    fieldset {
        align-items: center;
        padding: 2.8rem 0 3.4rem;
    }
    fieldset>label{
        flex-direction: row;
        gap: 0.8rem;
        padding: 1rem;
    }
    fieldset>label:first-child, fieldset>label:nth-child(2) {
        width: 28.4rem;
    }
    fieldset>label>p {
        width: 5.2rem;
        padding: 0;
        align-self: center;
        font-size: 1rem;
        text-align: center;
        color: var(--white-color);
    }
    #width-title, #trans-title {
        font-size: 1.2rem;
        width: 4rem;
        align-self: center;
        color: var(--white-color);
        font-weight: 400;
    }
    /* 텍스트 */
    .txt-container {
        width: 28.4rem;
        flex-direction: column;
        margin-top: 1.2rem;
        padding: 1rem;
        border: 1px solid var(--white-color);
    }
    #font-weight {
        width: 100%;
    }
}